* {
  font-family: 'Cairo', sans-serif;
}
body {
  background-color: #e7e7e7;
}
/* navbar */
.allNav {
  border: 1px solid #1253a0;
  background-color: white;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #3a549a !important;
  font-weight: bold;
}
/* SHIFT */
nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #3a549a;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: white;
  border-radius: 10px;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.dropdownArrow {
  position: absolute;
  right: 52px;
  top: 6px;
}

/*End navbar */
.mainTitle {
  font-weight: bold;
  color: black;
}
.moreDropdown {
  min-width: 8.5rem !important ;
}
.moreDropdown > a {
  font-size: small;
  font-weight: bold;
}
.moreDropdown > .dropdown-item {
  padding: 1px 6px 1px;
  margin: 5px;
  color: black;
}

.socialDiv {
  background-color: white;
  margin: auto;
}
.socialDiv > div {
  margin: auto;
}

.socialDiv > div > div > p {
  color: #3a549a;
  font-weight: bold;
  text-align: center;
}

.socialDiv > div > div > a > i {
  color: #b6b6b6;
  font-size: large;
}
.socialDiv > div > div > a {
  color: inherit !important;
}

.faceHover:hover {
  color: #4267b2;
}
.twitterHover:hover {
  color: #03a9f4;
}
.youtubeHover:hover {
  color: #ff0000;
}

.fa-search {
  font-size: large;
}

.newsDetails {
  background-color: #128bd3;
  color: white;
  padding: 5px;
  height: 40px;
}

.theNewsTitleDiv {
  border: 1px solid #1253a0;
  height: 40px;
}
.theNewsTitleDiv > p {
  text-align: center;
  color: #3a549a;
  font-weight: bold;
  padding-top: 5px;
}
.textSlider {
  text-align: right;
  font-weight: bold;
}
.fromTo {
  background-color: white;
  border-radius: 10px;
  height: auto;
  padding: 50px;
}
.fromToImg {
  position: absolute;
  top: -30px;
  width: 50px;
  height: 50px;
}

.fromToTitle {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 80px;
  top: -20px;
  font-size: 14px;
}
.fromToP,
.blogP {
  font-size: small;
  font-weight: bold;
  position: absolute;
  top: 40px;
}
.blogP,
.todayWisdomP {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.blog {
  background-color: white;
  border-radius: 10px;
  height: auto;
  padding: 60px;
}
.todayWisdomP {
  font-size: small;
  font-weight: bold;
  padding-top: 25px;
}
.todayWisdom,
.music {
  background-color: white;
  border-radius: 10px;
  height: auto;
}

.playMusicDiv {
  position: absolute;
  margin: auto;
  top: 35px;
  left: 20px;
}
.musicPlayImg {
  width: 30px;
}
.musicSoundImg {
  width: 145px;
}

.officialName {
  color: #ca181f;
}
.logoDiv {
  margin: auto;
  background-color: white;
}
.logoImg {
  width: 60px;
  height: 60px;
  margin: auto;
}

.logoTitle {
  font-size: large;
  text-align: center;
  color: #1253a0;
  font-weight: bold;
}

.ads1 {
  width: 100%;
}
.ads2 {
  width: 82%;
  height: 80%;
  display: block;
  margin: auto;
}

.lastNews,
.sport,
.nineClock,
.z {
  border: 1px solid black;
}

.ads4,
.ads5 {
  width: 100%;
  margin: auto;
}

nav {
  background-color: #3a549a;
}
nav > div > ul > li > a {
  color: white;
  padding: 10px 30px;
}

nav > div > ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 92%;
  margin: 0;
  padding: 0;
}

nav > div > ul > li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}

.card > div > div > p {
  font-weight: bold;
  margin: auto;
}

.cardNews > div > div {
  margin: auto;
}
.scndSectionFooter > ul > li > a {
  color: white;
}
.firstSectionFooter > ul > li > a {
  color: white;
}
footer {
  background-color: #3a549a;
  color: white;
}
.btnMore {
  border: none;
  background: none;
  color: #3a549a;
  font-weight: bold;
  float: left;
  font-size: small;
}
.btnMore:focus {
  outline: none;
}
.fa-chevron-circle-left {
  margin-bottom: -2px;
}
.lastNewsw {
  width: 100%;
}
.cardHightSport {
  min-height: 335px;
}
.cardSameHight {
  min-height: 332px;
}
.ads2Img {
  height: 167px;
}
.textMaxLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #707070;
}

#cardMaxLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: small;
}

.textCard6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cardSportTitle {
  font-weight: bold;
}

.videoDiv > video {
  border-radius: 10px;
}

.fashaText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #707070;
}

.fa-copyright {
  margin-bottom: -2px;
}
.fashaCard {
  min-height: 410px;
}

/* ------------------------------------ */

.owl-prev > span {
  position: absolute;
  top: 105px;
  left: -19px;
  font-size: 60px;
  color: gray;
}

.owl-next > span {
  position: absolute;
  top: 105px;
  font-size: 60px;
  color: gray;
}
/* ------------------news ticker---------------------- */

.ticker__viewport {
  background: #128bd3;
  color: #fff;
  overflow: hidden;
  direction: rtl;
}

.ticker__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.ticker__item {
  display: inline-block;
  white-space: nowrap;
  padding-right: 40px;
}

.techImgs {
  height: 163px;
}
.reportsImg {
  height: 191px;
}
.card3Img {
  height: 200px;
}
.socialSlider div img {
  height: 341px;
}

/* ------------------------------------------- */

.authorName {
  font-size: x-small;
  color: #73a1c2;
}

.reportsCardTitle {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.lastNewsTitle,
.cardSportTitle,
.fromToP {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.socialSlider {
  background-color: white;
  padding: 15px 1px 0px 1px;
}

.playAudio > audio {
  position: absolute;
  top: 24px;
  right: 5px;
  width: 95%;
}

/* ------------------------------------------Sport----------------------------------------------------------- */
.textCardS1 {
  color: #707070;
  text-align: justify;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.firstCardBody {
  height: 220px;
}
/* .card {
  height: 279px;
} */
.card-img-left {
  height: 169px;
}
.moreImgCard {
  width: 100%;
  height: 13vw;
  object-fit: cover;
}
.cardTitleS {
  font-size: medium;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.dateCard {
  position: absolute;
  bottom: 115px;
  right: 15px;
}
.dateCard > small {
  color: white;
}

.moreNews div div .card-body {
  height: 109px;
}
/* ***************pagination************** */

.pagination {
  min-width: 30px;
}

.pagination a {
  color: #3a549a;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  /* transition: background-color 0.3s; */
  background-color: white;
  font-size: x-small;
  font-weight: bold;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 50%;
}

.pagination a.active {
  background-color: #3a549a;
  color: white;
  border: 1px solid #3a549a;
}

.pagination a:hover:not(.active) {
  background-color: #3a549a;
  color: white;
}
#arrowPagination {
  font-size: small;
}
/* ---------------------------------------News Details----------------------------------------------------- */
.newsDetailsText {
  text-align: justify;
  color: #202020;
  font-weight: bold;
}

.newsDetailsTitle {
  font-weight: bold;
}
.relatedNewsTitle {
  color: #202020;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.adsNewsDetails {
  width: 85%;
  margin: auto;
}

.mainTitle span {
  color: #707070;
}

.arrowIcon {
  color: #3a549a;
  font-size: small;
  margin-bottom: 0px;
}

.shareIcon {
  display: flex;
  flex-direction: row-reverse;
  color: #707070;
  font-size: larger;
  padding-left: 23px;
}

.dateTime {
  color: #707070;
}

.relatedNewsImg {
  width: 100%;
  height: 86px;
  object-fit: cover;
}

