* {
  font-family: 'Cairo', sans-serif;
}
body {
  background-color: #e7e7e7;
}
.allNav {
  border: 1px solid #1253a0;
  background-color: white;
}
.socialDiv {
  background-color: white;
}

.socialDiv > div > p {
  color: #3a549a;
  font-weight: bold;
  text-align: center;
}

.theNewsNav {
  border: 1px solid #1253a0;
}
.newsDetails {
  background-color: #4166cb;
  color: white;
  padding: 5px;
}

.theNewsDiv {
  border: 1px solid #1253a0;
}

.theNewsTitle {
  color: #3a549a;
  font-weight: bold;
  padding: 5px;
}

.fromTo {
  background-color: white;
  border-radius: 10px;
  height: auto;
  padding: 50px;
}
.fromToImg {
  position: absolute;
  top: -30px;
  width: 50px;
  height: 50px;
}

.fromToTitle {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 80px;
  top: -20px;
  font-size: 14px;
}
.fromToP,
.blogP {
  font-size: small;
  font-weight: bold;
  position: absolute;
  top: 40px;
}

.blog {
  background-color: white;
  border-radius: 10px;
  height: auto;
  padding: 60px;
}
.todayWisdomP {
  font-size: small;
  font-weight: bold;
  padding-top: 25px;
}
.todayWisdom,
.music {
  background-color: white;
  border-radius: 10px;
  height: auto;
}

.playMusicDiv {
  position: absolute;
  margin: auto;
  top: 35px;
  left: 20px;
}
.musicPlayImg {
  width: 30px;
}
.musicSoundImg {
  width: 145px;
}

.officialName {
  color: #ca181f;
}
.logoDiv {
  margin: auto;
  background-color: white;
}
.logoImg {
  width: 60px;
  height: 60px;
  margin: auto;
}

.logoTitle {
  font-size: large;
  text-align: center;
  color: #1253a0;
  font-weight: bold;
}

.ads1 {
  width: 100%;
}
.ads2 {
  width: 82%;
  height: 80%;
  display: block;
  margin: auto;
}

.lastNews,
.sport,
.nineClock,
.a {
  border: 1px solid black;
}

.ads4,
.ads5 {
  width: 100%;
  margin: auto;
}

nav {
  background-color: #3a549a;
}
nav > div > ul > li > a {
  color: white;
  padding: 10px 30px;
}

nav > div > ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 92%;
  margin: 0;
  padding: 0;
}

nav > div > ul > li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}

.card > div > div > p {
  font-weight: bold;
  margin: auto;
}

.cardNews > div > div {
  margin: auto;
}
.scndSectionFooter > ul > li > a {
  color: white;
}
.firstSectionFooter > ul > li > a {
  color: white;
}
footer {
  background-color: #3a549a;
  color: white;
}

.lastNewsw {
  width: 100%;
}

.textMaxLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #707070;
}

#cardMaxLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: small;
}

.cardSportTitle {
  font-weight: bold;
}

.videoDiv > video {
  border-radius: 10px;
}

.fashaText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #707070;
}

.fa-copyright {
  margin-bottom: -2px;
}

/* OUTER CONTAINER */
.tcontainer {
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}

/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  background-color: #eee;
}

/* INNER CONTAINER */
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 10s;
}
.ticker-move:hover {
  animation-play-state: paused; /* Pause scroll on mouse hover */
}

/* ITEMS */
.ticker-item {
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
}
